body {
    background-color: black;
}

#quiz-holder {
    align-content: center;
    margin-left: 400px;
}

#page-title {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: red;
}

.draggable {
    width: 200px;
    height: 100px;
    background-color: #a79292;
    margin-bottom: 10px;
}

.droppable {
    width: 200px;
    height: 100px;
    background-color: #6c3d3d;
    margin-bottom: 10px;
    color: #fff;
}

.holder {
    float: left;
    width: 100px;
    height: 660px;
    margin-right: 200px;
    /*    background-color: #000;*/
}

.feedback {
    float: left;
    height: 100px;
    margin-right: 200px;
    margin-bottom: 10px;
}

.feedback > img {
    margin-top: 25px;
    height: 50px;
}

#droppable-holder {
    margin-right: 150px;
}

#test {
    width: 600px;
    text-align: center;
    font-size: 27px;
    float: left;
}